
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.uni {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  color: #6070ff;
}

.uni img {
  height: 15px;
  margin-right: 20px;
  margin-top: 20px;
  right: 20px;
}

.icons li {
  display: flex;
  color: #dbd8d7;
  list-style: none;
  padding: 8px;
}

.uni a {
  margin: 20px;
  text-decoration: none;
}

.intro {
  background: url('asset/background\ img.png');
  background-repeat: no-repeat;
}

.greeting {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  width: 375px;
  height: 718px;
  background: #fff;
  border-bottom-left-radius: 50px;
  margin-bottom: 80px;
}

.greeting h1 {
  margin: 120px 24px 2px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 800;
  font-size: 30px;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
  margin: 2px 24px;
}

.bottom-1 {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 15px;
  padding-left: 24px;
}

.bottom {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 15px;
}

.greeting > ul {
  display: flex;
  margin: 2px 24px;
}

.background {
  background-image: url("asset/Snapshoot\ Portfolio.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  flex: none;
  margin: 40px;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #344563;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.card-detail {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 12px;
}

.daily {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.myself {
  display: flex;
  width: 327px;
  height: 35px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin-top: 20px;
  margin-bottom: 12px;
}

.grid-container {
  display: grid;
  background: #e5e5e5;
  padding-top: 114px;
}

.skills {
  display: flex;
  gap: 10px;
}

.skills .skill {
  display: flex;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.about-me {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px;
  margin-top: 30px;
  border-top-right-radius: 50px;
}

.about {
  background: #fff;
  border-top-right-radius: 50px;
}

.abt-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 147px;
  color: #344563;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  color: #dbd8d7;
  list-style: none;
  padding: 8px;
}

.lan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
  width: 327px;
}

.language {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  gap: 180px;
  color: #000;
}

.L {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  left: 12px;
  align-items: center;
  gap: 160px;
  height: 72px;
}

.java {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background: #f7f7f9;
  gap: 15px;
  margin-right: 36px;
}

.html {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background: #f7f7f9;
  gap: 15px;
  width: 303px;
  height: 66.72px;
  margin-right: 36px;
}

.css {
  display: flex;
  align-items: center;
  align-content: space-between;
  padding: 15px;
  border-radius: 8px;
  background: #f7f7f9;
  gap: 15px;
  width: 303px;
  height: 66.72px;
  margin-right: 36px;
}

.list-info {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 24px;
  list-style: none;
  width: 327px;
}

.jav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 24px;
  font-style: normal;
  left: 76px;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.htm {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  height: 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.cs {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  right: 12px;
  color: #253858;
}

.js-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  border: 1px solid #fff;
}

.html-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  border: 1px solid #fff;
}

.css-icon {
  width: 48px;
  height: 48px;
  left: 12px;
  border: 1px solid #fff;
}

.fram {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  gap: 160px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  height: 24px;
  left: 12px;
}

.ski {
  display: flex;
  align-items: center;
  left: 12px;
  gap: 220px;
  border-bottom: 1px solid #dfe1e6;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin-top: -36px;
}

.fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 15px;
}

.app {
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  font-style: normal;
  color: #ebebff;
  text-align: center;
  left: 24px;
  margin-top: 15px;
}

.lorem {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 40px;
  gap: 20px;
}

.lor {
  display: flex;
  left: 0;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  background: #fff;
}

.border {
  width: 134px;
  height: 5px;
  margin-top: 45px;
  background-color: #0d151e;
  border-radius: 10px;
}

.item {
  width: 327px;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.item img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.item h2 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 20px;
}

.item ul {
  display: flex;
  list-style: none;
  gap: 12px;
}

.item ul .canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.diskA {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 16px;
}

.diskA::before {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  content: '';
  border-radius: 4px;
  margin-right: 12px;
}

.item p {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

.item .skills {
  gap: 8px;
  margin-bottom: 20px;
}

.item .skill {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  align-items: center;
  padding: 4px 12px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.bott {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 16px;
  padding: 16px;
}

.bott:hover {
  background: #6070ff;
  color: #fff;
}
