@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,900;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 375px) {
  body {
    font-family: 'Poppins',sans-serif;
  }
}
.introduction{
  display: inline-flex;
padding: 114px 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
width:375px; 
height: 376px;
color:#F7F7F9;
border-bottom-left-radius: 60px;
margin-bottom: 114px;

}
.intro{
  background: url(asset/background.png);
background-repeat: no-repeat;

}
.header{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 375px;
  height: 48px;
  color:#6070FF;
  padding:10px 12px 10px 12px;
  margin: 44px 0px 0px 24px;
}
.img {
  height: 24px;
  width: 24px;

padding: 8px;
}

.greeting{
  display: flex;
width: 310px;
height: 150px;
flex-direction: column;
justify-content: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px;
color:#172B4D;
margin: 0px 24px 12px 24px;
}
.detail{
  display: flex;
width:327px;
height: 146px;
flex-direction: column;
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 24px;
color:#344563;
margin: 0px 24px 0px 24px;
}
.address{
  color:#7F8CFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin:0px 24px 12px 24px;
}
.icons{
display: flex;
width: 170.167px;
height: 20px;
justify-content: space-around;
gap: 12px;
margin-left:24px;
size: 20px;
list-style: none;
}
.grid-container{
  display: grid;
padding: 114px 24px;
grid-template: column;
align-items: center;
background-color: #F7F7F9;
gap: 88px;
width: 375px;


}
.card-1{
  display: flex;
padding: 16px;
margin: 1px 1px;
width: 295px;
height: 520px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
margin: 0px 24px 0px 24px;
}
.tcb{
  margin-left: 16px;
}
.can{
  display: flex;
align-items: center;
gap: 12px;
  margin-top: 12px;
  width: 236px;
  height: 32px;
  justify-content: space-evenly;
  margin-left: -16px;
}
.can li{
color: var(--neutrals-n-100, #7A869A);
font-size: 13px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 16px;
}
.tonic{
display: flex;
width: 295px;
height: 36px;
flex-direction: column;
color: var(--neutrals-n-800, #172B4D);
font-size: 32px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: 44px;
margin-top: 12px;

}
.canopy{
  list-style: none;
  color: var(--neutrals-n-600, #344563);
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px;
}
.daily{
  display: flex;
width: 295px;
flex-direction: column;
color: var(--neutrals-n-600, #344563);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 0px;
margin-left: 16px;
margin-bottom: 0px;
}
.tags{
display: flex;
width: 214px;
height: 24px;
position: relative;
right: 64px;

}

.tag{
display: flex;
margin:0px 16px 0px 0px;
gap: 8px;
list-style: none;
padding-left: 12px;
padding-right: 12px;
padding-top: 4px;
padding-bottom: 4px;
}
.html{
  display: flex;
  color: var(--primary-b-400, #6070FF);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.36px;
padding: 4px 12px;
align-items: center;
border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
margin-left: 16px;
width: 33px;
height: 16px;
}
.css{
  display: flex;
padding: 4px 12px;
align-items: center;
display: flex;
align-items: center;
color: var(--primary-b-400, #6070FF);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.36px;
border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
width: 25px;
height: 16px;
}
.jav{
  display: flex;
padding: 4px 12px;
align-items: center;
border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
color: var(--primary-b-400, #6070FF);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.36px;
height: 16px;
}
.button{
display: flex;
padding: 12px;
align-items: center;
position: relative;
gap: 10px;
color: var(--primary-b-500, #396DF2);
text-align: center;
font-size: 17px;
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.51px;
margin-top: 12px;
border-radius: 8px;
border: 1px solid var(--primary-b-400, #6070FF);
right: 85px;
background: var(--neutrals-n-0, #FFF);


}
.button :hover{
cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(64, 83, 252, 0.24);
background-color: rgb(19, 16, 16);
}
/*card-2 */
.card-2{
  display: flex;
padding: 16px;
margin: 1px 1px;
width: 295px;
height: 564px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
margin: 0px 24px 0px 24px;
}
.multi{
  display: flex;
  width: 295px;
  height: 80px;
  flex-direction: column;
  color: var(--neutrals-n-800, #172B4D);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;

}
.about-myself{
  display:flex;
padding: 114px 24px;
flex-direction: column;
width: 375px;
height: 834px;
margin-top: 0px;
background: var(--neutrals-n-10, #FFF);
border-top-right-radius: 60px;
}
.about{
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
color: var(--neutrals-n-800, #172B4D);
font-size: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: 52px;
}
.detail-about{
  display: flex;
width: 327px;
flex-direction: column;
color: var(--neutrals-n-600, #344563);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin:12px 0px 12px 24px;
height: 147px;
}
.address-2{
color: var(--primary-b-300, #7F8CFF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin-left: 24px;
margin-bottom: 16px;
}
.button-a{
padding: 12px;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--primary-b-400, #6070FF);
color: var(--primary-b-500, #396DF2);
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.51px;
margin-left: 24px;
width: 162px;
height: 48px;
margin-top: 20px;
cursor: pointer;


}
.button-a :hover{
  border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(64, 83, 252, 0.24);
    background: var(--theme-1-primary-colors-2, #6070FF);
}
.button-a :active{
  border-radius: 8px;
}
.icon{
  display: flex;
height: 20px;
justify-content: space-around;
gap: 12px;
margin-left:24px;
size: 20px;
list-style: none;
}
.languages{
 
display: flex;
padding: 16px 26px 16px 12px;
align-items: center;
gap: 12px;
margin-top: 24px;
margin-bottom: 12px;
}
.language{
  display: flex;
  width: 237px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 26px 16px 12px;
}
.down-arrow{
  width: 24px;
height: 24px;
margin: 8px;
}
.skills{
  display: flex;
padding: 12px;
flex-direction: column;
align-items: center;
gap: 12px;
width: 303px;
height: 224px;
list-style: none;
margin-left: 24px;
}
.Js{
  display: flex;
width: 303px;
padding: 9px 12px 9.716px 12px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 8px;
background: var(--neutrals-n-10, #F7F7F9);
color: var(--neutrals-n-700, #253858);
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px;
height: 66.71px;
}
.js-png{
  width: 48px;
height: 48px;
flex-shrink: 0;
border-radius: 48px;
border: 1px solid var(--neutrals-n-0, #FFF);
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
margin-left: -170px;
}
.ch-png{
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #FFF);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-left: -210px;
}

.frameworks{
 
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
  }
  .framework{
    display: flex;
    width: 237px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 26px 16px 12px;
  }
  .lan-skills{
    display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px; 
  }
  .separator{
    width: 327px;
height: 1px;
flex-shrink: 0;
background: var(--neutrals-n-40, #DFE1E6);
  }
  .lan-skill{
    display: flex;
    width: 237px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 26px 16px 12px;
  }
  .contact-me{
    width: 375px;
height: 779px;
flex-shrink: 0;
background: #6070FF;
border-top-left-radius: 100px;
margin-top: 62.85px;
  }
  .contact{
    display: flex;
height: 56px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--neutrals-n-0, #FFF);
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px;
padding: 103px;

  }
  .contact-detail{
display: flex;
width: 327px;
height: 137px;
flex-direction: column;
flex-shrink: 0;
color: var(--primary-b-50, #EBEBFF);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-left: 24px;
margin-top: 12px;
  }

