@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,900;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

/*
@media screen and (min-width: 80%) {
  body {
    font-family: 'Poppins', sans-serif;

    }
    .paragraph{
      display: none;
    } */
.paragraph {
  display: none;
}

.top-head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 48px;
  color: #6070ff;
  padding: 4px 24px 4px 12px;
  margin: 30px 0 0 24px;
}

.img {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding: 10px 12px 10px 12px;
  font-family: 'poppins', sans-serif;
}

.introduction {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  height: 376px;
  background-color: white;
  margin-bottom: 30px;
  background-image: url(asset/background.png);
  background-repeat: no-repeat;
}

.intro {
  width: 375px;
  margin-bottom: -22px;
  border-bottom-left-radius: 60px;
}

.greeting {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin: 0 24px 12px 0;
  font-family: 'poppins', sans-serif;
}

.detail {
  display: flex;
  width: 327px;
  height: 146px;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin: 0 24px 0 0;
  font-family: 'poppins', sans-serif;
}

.address {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0 24px 12px 0;
  font-family: 'poppins', sans-serif;
}

.icons {
  display: flex;
  width: 170px;
  height: 20px;
  justify-content: space-around;
  gap: 12px;
  margin-top: 0;
  margin-left: 0;
  size: 20px;
  list-style: none;
  align-items: center;
}

.grid-container {
  display: grid;
  padding-top: 114px;
  grid-template: column;
  align-items: center;
  background-color: #f7f7f9;
  gap: 88px;
  font-family: 'poppins', sans-serif;

  /* width: 375px; */
}

.card-1 {
  display: flex;
  padding: 16px;
  width: 295px;
  height: 520px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 0 24px;
}

.tcb {
  margin-left: 16px;
  margin-top: -12px;
}

.can {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  width: 236px;
  height: 32px;
  justify-content: space-evenly;
  margin-left: -16px;
}

.can li {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.bed {
  color: var(--neutrals-n-600, #344563);
  color: var(--neutrals-n-100, #7a869a);
}

.li.bed ::marker {
  border-radius: 8px;
  background: var(--neutrals-n-50, #c1c7d0);
}

.tonic {
  display: flex;
  width: 295px;
  height: 36px;
  flex-direction: column;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
}

.canopy {
  list-style: none;
  font-style: normal;
  color: var(--neutrals-n-600, #344563);
}

.daily {
  display: flex;
  width: 295px;
  flex-direction: column;
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-left: 16px;
  margin-bottom: 0;
}

.tags {
  display: flex;
  width: 214px;
  height: 24px;
  position: relative;
  right: 64px;
}

.tag {
  display: flex;
  margin: 0 16px 0 0;
  gap: 8px;
  list-style: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.html {
  display: flex;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  margin-left: 16px;
  width: 33px;
  height: 16px;
}

.css {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  width: 25px;
  height: 16px;
}

.jav {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  height: 16px;
}

.button {
  display: flex;
  padding: 12px;
  align-items: center;
  position: relative;
  gap: 10px;
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  right: 85px;
  background: var(--neutrals-n-0, #fff);
  cursor: pointer;
}

.button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* card-2 */
.card-2 {
  display: flex;
  padding: 16px;
  width: 295px;
  height: 564px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 0 24px;
}

.card-4 {
  display: flex;
  padding: 16px;
  width: 295px;
  height: 564px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 114px 24px;
}

.multi {
  display: flex;
  width: 295px;
  height: 80px;
  flex-direction: column;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
}

.myself {
  width: 375px;
  border-top-right-radius: 60px;
  background: var(--neutrals-n-10, #fff);
  font-family: 'poppins', sans-serif;
}

.about-myself {
  display: flex;
  padding: 114px 0;
  flex-direction: column;
  margin-left: 24px;
}

.about {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.detail-about {
  display: flex;
  width: 327px;
  flex-direction: column;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0 12px 0;
  height: 147px;
}

.address-2 {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 16px;
}

.button-a {
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin-left: 0;
  width: 162px;
  height: 48px;
  margin-top: 20px;
  cursor: pointer;
}

.button-a:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button-a:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.icon {
  display: flex;
  height: 20px;
  justify-content: space-around;
  gap: 12px;
  margin-left: 0;
  size: 20px;
  list-style: none;
}

.down-arrow {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.arrow {
  padding: 8px;
  width: 24px;
}

.lan {
  display: flex;
}

.Js {
  display: flex;
  width: 303px;
  padding: 9px 0 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 66.71px;
  margin-right: 24px;
}

.js-png {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-left: -170px;
}

.ch-png {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-left: -220px;
}

.ht-png {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-left: -210px;
}

.framework {
  display: flex;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 26px 24px 12px;
  align-items: center;
  gap: 126px;
  margin-right: 24px;
  width: 237px;
}

.la {
  display: flex;
  width: 237px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 26px 16px 12px;
  list-style: none;
  margin-top: 24px;
}

.lan-skill {
  display: flex;
  align-items: center;
  width: 237px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 26px 24px 12px;
  gap: 199px;
}

ul.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.language {
  display: flex;
  align-items: center;
  width: 237px;
  gap: 137px;
}

.skills {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 224px;
  list-style: none;
}

.separator {
  display: flex;
  width: 327px;
  height: 1px;
  margin-left: 0;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.contact-form {
  flex-shrink: 0;
  margin-top: 62.85px;
}

.contact-me {
  background: #6070ff;
  border-top-left-radius: 60px;
  height: 779px;
  background-image: url(asset/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top 10px right 0;
}

.contact {
  display: flex;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  padding: 108px 0 0 0;
}

.contact-detail {
  display: flex;
  width: 327px;
  height: 137px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 24px;
  margin-top: 12px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 42px auto 0;
  max-width: 327px;
}

input {
  display: flex;
  flex-direction: column;
  height: 26px;
  flex-shrink: 0;
 /* margin-left: 24px; */
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  padding: 10px;
}

#email, #name {
  color: var(--neutral-n-800, #172b4d);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

textarea {
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: var(--neutrals-n-60, #b3bac5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
 /* margin-left: 24px; */
}

#message{
  padding: 15px;
}

.button-contact {
  padding: 12px 16px;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  /*margin-left: 24px; */
  background: var(--neutrals-n-0, #fff);
  cursor: pointer;
  align-self: flex-start;
}

.button-contact:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button-contact:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

hr {
  width: 134px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0d151e;
  margin-left: 120px;
  margin-bottom: 8px;
  /* margin-top: 30px; */
}

.top {
  display: none;
}

/* desktop version */

@media screen and (min-width: 768px) {
  body {
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
  }

  .top-head {
    display: none;
  }

  .top {
    display: inline-flex;
    padding: 16px 143px;
    justify-content: center;
    align-items: flex-start;
    gap: 796px;
    margin-top: 1px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
  }

  .logo {
    width: 76px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }

  .port,
  .abt,
  .cont {
    padding: 10px 12px;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .intro {
    width: 1440px;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    height: 846px;
    width: 1440px;
    left: 0;
    top: 1px;
    background-color: #fff;
    background-image: url(asset/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: top 118px right 0;
    border-bottom-left-radius: 100px;
  }

  .greeting {
    width: 920px;
    height: 122px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin: 289px 260px 0 260px;
  }

  .detail {
    display: none;
  }

  .paragraph {
    display: flex;
    margin: 12px 260px;
    color: var(--theme-1-neutrals-3, #344563);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .address {
    margin: 12px  260px;
  }

  .icons {
    margin: 12px  260px;
    gap: 8px;
  }

  .grid-container {
    display: grid;
    width: 1156px;
    height: 496px;
    grid-template-columns: 1fr 1fr;
    margin: 142px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    background: #fff;
    grid-gap: 142px;
  }

  .card-1 {
    display: flex;
    flex-direction: row;
    float: right;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .tcb {
    font-family: sans-serif;
  }

  .card-2 {
    display: flex;
    flex-direction: column;
    float: right;
    width: 1156px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .card-4 {
    display: flex;
    flex-direction: column;
    float: right;
    width: 1156px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }
}
