*{
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 375px) {
  body {
    font-family: sans-serif;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 375px;
  height: 48px;
  color:#6070FF;
  padding:10px 12px 10px 12px;
  margin: 58px 0px 0px 24px;
}
.img {
  height: 24px;
  width: 24px;

padding: 8px;
}
.introduction{
  display: inline-flex;
padding: 114px 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
width:327px; 
height:326px;
color:#F7F7F9;
border-bottom-left-radius: 120px;

}
.greeting{
  display: flex;
width: 310px;
height: 150px;
flex-direction: column;
justify-content: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px;
color:#172B4D;
margin: 0px 24px 12px 24px;
}
.detail{
  display: flex;
width:327px;
height: 146px;
flex-direction: column;
font-size: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 24px;
color:#344563;
margin: 0px 24px 0px 24px;
}
.address{
  color:#7F8CFF;
/* Body / 2 - Bolder */
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin:0px 24px 12px 24px;
}
.icons{
display: flex;
width: 170.167px;
height: 20px;
justify-content: space-around;
gap: 12px;
margin-left:24px;
size: 20px;
list-style: none;
}
.grid-container{
  display: grid;
padding: 114px 24px;
grid-template: column;
align-items: center;
gap: 88px;
}
